#File for you secret data, user creds, etc...
#It has to be named secret.py so rename it after editing.

username   = "" #Enter just username, without @gmail.com
password   = "" #Enter your password
from_field = "" #e-mail address show in the from field
to_field   = "" #e-mail address to which you want to send all messages
